<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Checking Web App</title>
    <link rel="stylesheet" href="/static/assets/styles.css">
</head>
<body>
  <form class="form-detail" action="/predict" method="post">
    <div class="container">
        
        <div class="header form-input">
          Diabetes Checking Web App
        </div>

        <hr>

        <div style="font-size: 24px; margin-bottom: 15px;">
          Please fill the information:
        </div>

        <div style="display: flex; justify-content: space-around;">
          <div>
            <div class="flex form-input">
              <span class="header-form">Age</span>
              <select class="form wide-select" name="age" id="age" required>
                <option value="" disabled selected>Select an age</option>
                <option value="less than 40">Less than 40</option> 
                <option value="40-49">40-49</option> 
                <option value="50-59">50-59</option> 
                <option value="60 or older">60 or older</option> 
              </select>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">Gender</span>
              <select class="form wide-select" name="gender" id="gender" required>
                <option value="" disabled selected>Select gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">Family_Diabetes</span>
              <select class="form wide-select" name="family_diabetes" id="family_diabetes" required>
                <option value="" disabled selected>Select option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">HighBP</span>
              <select class="form wide-select" name="highbp" id="highbp" required>
                <option value="" disabled selected>Select option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">PhysicallyActive</span>
              <select class="form wide-select" name="physicallyactive" id="physicallyactive" required>
                <option value="" disabled selected>Select option</option>
                <option value="none">None</option>
                <option value="less than half an hr">Less than half an hr</option>
                <option value="more than half an hr">More than half an hr</option>
                <option value="one hr or more">One hr or more</option>
              </select>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">Bmi</span>
              <input class="form wide-input" type="text" name="bmi" id="bmi" placeholder="Only integers between 15 and 45 are allowed" pattern="1[5-9]|2[0-9]|3[0-9]|4[0-5]" title="Please enter an integer between 15 and 45" min="15" max="45" required>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">Smoking</span>
              <select class="form wide-select" name="smoking" id="smoking" required>
                <option value="" disabled selected>Select option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">Alcohol</span>
              <select class="form wide-select" name="alcohol" id="alcohol" required>
                <option value="" disabled selected>Select option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>

            <div class="flex form-input">
              <span class="header-form">Sleep</span>
              <input class="form wide-input" type="text" name="sleep" id="sleep" placeholder="Only integers between 4 and 11 are allowed" pattern="[4-9]|10|11" title="Please enter an integer between 4 and 11" min="4" max="11" required>
            </div>
          </div>

          <div>
            <div class="flex form-input">
              <span class="header-form">Soundsleep</span>
              <input class="form wide-input" type="text" name="soundsleep" id="soundsleep" placeholder="Only integers between 0 and 11 are allowed" pattern="[0-9]|10|11" title="Please enter an integer between 0 and 11" min="0" max="11" required>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">RegularMedicine</span>
              <select class="form wide-select" name="regularmedicine" id="regularmedicine" required>
                <option value="" disabled selected>Select option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">Junkfood</span>
              <select class="form wide-select" name="junkfood" id="junkfood" required>
                <option value="" disabled selected>Select option</option>
                <option value="occasionally">Occasionally</option>
                <option value="very often">Very often</option>
                <option value="often">Often</option>
                <option value="always">Always</option>
              </select>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">Stress</span>
              <select class="form wide-select" name="stress" id="stress" required>
                <option value="" disabled selected>Select option</option>
                <option value="not at all">Not at all</option>
                <option value="sometimes">Sometimes</option>
                <option value="very often">Very often</option>
                <option value="always">Always</option>
              </select>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">Bplevel</span>
              <select class="form wide-select" name="bplevel" id="bplevel" required>
                <option value="" disabled selected>Select option</option>
                <option value="low">Low</option>
                <option value="normal">Normal</option>
                <option value="high">High</option>
              </select>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">Pregancies</span>
              <input class="form wide-input" type="text" name="pregancies" id="pregancies" placeholder="Only integers between 0 and 4 are allowed" pattern="[0-4]" title="Please enter an integer between 0 and 4" min="0" max="4" required>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">Pdiabetes</span>
              <select class="form wide-select" name="pdiabetes" id="pdiabetes" required>
                <option value="" disabled selected>Select option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
    
            <div class="flex form-input">
              <span class="header-form">UriationFreq</span>
              <select class="form wide-select" name="uriationfreq" id="uriationfreq" required>
                <option value="" disabled selected>Select option</option>
                <option value="not much">Not much</option>
                <option value="quite often">Quite often</option>
              </select>
            </div>
          </div>
        </div>

        <div style="text-align: center;">
          <input class="button" type="submit" name="register" value="Predict">
        </div>

        <hr>

    </div>
  </form>
</body>
</html>